article#drawingSettings.fade-in-element.d-none
        label(for="colorPicker")
        input(type="color", id="colorPicker", name="colorPicker", value="#00A870")
        label(for="strokeSize")
        input(id="strokeSize", type="range", name="strokeSize", value="8")
        input(id="closeButton", type="submit", value="Close", onclick='activeDrawingTools.classList.add("d-none")').contrast