ul.toolbox
    li
        div.toolbox-modal
            button.tool-brush(name="brush", alt="Adjust stroke size", title="Adjust stroke size") 
                span#brush.toolbox-modal-content.d-none
                    label(for="stroke-size") Stroke size
                    input(id="stroke-size", type="range", name="stroke-size", value="10", min="1", max="100", step="1")
    li
        div.toolbox-modal
            button.tool-palette(name="palette", alt="Adjust stroke color", title="Adjust stroke color") 
                span#palette.toolbox-modal-content.d-none
                    label(for="stroke-color") Stroke color
                    input(id="stroke-color", type="color", name="stroke-color", value="#00A870")
    li 
        button.tool-undo(name="undo", alt="Undo drawing", title="Undo drawing") 
    li 
        button.tool-redo(name="redo", alt="Redo drawing", title="Redo drawing")
    li 
        button.tool-init(name="init", alt="Clear all drawings", title="Clear all drawings")
    li 
        button.tool-save(name="save", alt="Save image", title="Save image")