//- main-layout
doctype html
html(lang="de", data-theme="dark")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", type="image/x-icon", href="images/favicon.ico")
    link(rel="stylesheet", href="css/style.css")
    title Lager Webapp
  body
    include ../includes/modal.pug
    block content
  
    script(src="js/modal.js", type="text/javascript", defer)
    script(src="js/snackbar.js", type="text/javascript", defer)