extends layouts/main-layout.pug

block content
    div#view-container
        div#video-container
            include includes/snackbar.pug
            include includes/drawingTools.pug
            video(autoplay, playsinline, webkit-playsinline, muted).d-none
            canvas 
            div.video-overlay
            div.no-active-stream.d-none
                p No active camera stream
        div#controls-container
            button.toggle-fs(title="Toggle Fullscreen", alt="Toggle Fullscreen", aria-pressed="false")
            button.photo-library(title="Photo library", alt="Photo library", onclick="window.location.href='/photos'")
            button.snapshot(title="Take a snapshot", alt="Take a snapshot")
            button.pause-and-draw-on-image(title="Pause and draw", alt="Pause and draw", aria-pressed="false")

    script(src="js/camera.js", type="module")