@import './pico/pico.jade.min.css';

/* ********************* */
/* camera (/camera) **** */
/* ********************* */
#view-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

/* Video- / Canvas - Container */
#video-container {

  position: fixed;

  canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .no-active-stream {
    background-image: url('../images/camera/videocam_off.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15em;
    position: fixed;
    top: 0;
    left: 0;
  
    p {
      font-size: 2rem;
      text-align: center;
      margin-top: 2.5em;
    }
  }
}

/* User Interaction GUI (Controls) container */
#controls-container {
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  position: fixed;

  background-color: #111;

  button {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    background-size: 3em;

    /* Snapshot button */
    &.snapshot {
      background-image: url('../images/camera/add_a_photo.svg');
    }
    &.snapshot:active {
      background-color: #FFFFFF;
    }
    /* Photo library button */
    &.photo-library {
      background-image: url('../images/camera/photo_library.svg');
    }
    /* Pause and Draw Buttons */
    &.pause-and-draw-on-image {
      background-image: url('../images/camera/pause.svg');
    }
    &.pause-and-draw-on-image[aria-pressed='true'] {
      background-image: url('../images/camera/play.svg');
    }
    /* Fullscreen toggle buttons */
    &.toggle-fs {
      background-image: url('../images/camera/fullscreen.svg');
    }
    &.toggle-fs[aria-pressed="true"] { /* active element */
      background-image: url('../images/camera/close_fullscreen.svg');
    }
  }
}

/* Landscape mode (larger viewports) */
@media screen and (orientation: landscape) {
  #view-container {
    flex-direction: row;
  }
  #video-container, .video-overlay, .no-active-stream {
    width: 80%;
    height: 100%;
  }
  #controls-container {
    flex-direction: column;
    width: 20%;
    height: 100%;

    right: 0;
  }
}

/* Portrait mode (smaller viewports) */
@media screen and (orientation: portrait) {
  #view-container {
    flex-direction: column;
  }
  #video-container, .video-overlay, .no-active-stream {
    width: 100%;
    height: 80%;
  }
  #controls-container {
    flex-direction: row;
    width: 100%;
    height: 20%;

    bottom: 0;
  }
}

/* Helper classes */
.video-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #111;
}

.d-none {
  display: none;
}

.drawing-active {
  cursor: crosshair;
}

/* ************************ */
/* Photos (/photos) ****** */
/* ********************** */
#backAndMonthYearSelector {

  display: inline-flex; 
  gap: .6em;

  button {

    background-color: transparent;

    &.camera {
      background-image: url("../images/photos/camera.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.header {

  #viewMode {
    
    input {
      background-repeat: no-repeat;
      background-position: center center;
      font-size: 1.6em;
      background-size: .9em;
    }

    #mode-grid-view {
      background-image: url("../images/photos/grid.svg");
    }
  
    #mode-table-view {
      background-image: url("../images/photos/table.svg");
    }
  
    input[type=radio] {
      border-radius: .2em;
    }
    input[type=radio]:checked {
      border-width: .05em;
    }

  }
}

#monthYearSelector {
  margin: 0;
  padding-top: .2em;
  padding-bottom: .2em;
}

#interactions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Dark-/Light mode switcher */
#themeSwitcher {
  button {
    border: none;
    box-shadow: none;
    margin: 0 0 .2em .5em;
  }
  .dark {
    background: url("../images/photos/dark_mode.svg") center center no-repeat;
  }
  .light {
    background: url("../images/photos/light_mode.svg") center center no-repeat;
  }
}
#uploadedPhotos {
  margin-top: 0.5em;
  overflow-x: hidden;

  img:hover, a:hover {
    cursor: pointer;
  }
}
#gridView {
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  justify-content: center;
  gap: .5rem;

  article {
    font-size: .8em;
  }

  footer {
    display: flex;
    justify-content: end;
    gap: .9em;

    .icon {
      padding: 1em;
      border: 1px solid var(--pico-primary-background);
      border-radius: 50%;
    }
  }
}
table#tableView img {
  width: 2em;
  height: 2em;
  border: 2px solid #111;
  cursor: pointer;
}
/* Modals */
dialog { /* adapt modal body to image width */
  article {
    width: auto;
  }
}
.modal-is-open .photo {
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleConfirm {
  font-weight: bold;
  font-size: x-large;
}
#actions {
  display: flex;
  justify-content: space-between;
  justify-items: center;

  .btn-close {
    padding: 0.1em 1em;
  }
}
/* used icons */
.icon {
  width: 1.2em;
  height: 1.2em;
  background: center center no-repeat;
}
.trash {
  background-image: url("../images/photos/trash.svg");
}
.download {
  background-image: url("../images/photos/download.svg");
}
.hand-eye {
  background-image: url("../images/photos/hand-eye.svg");
}

/* lazy load images */
img {
  display: block;
}
img.lazy {
  opacity: 0;
}
img:not(.initial) {
  transition: opacity 1.5s;
}
img.initial,
img.loaded,
img.error {
  opacity: 1;
}
img:not([src]) {
  visibility: hidden;
}

/* ************************* */
/* Drawing Toolbox **********/
/* *************************/
ul.toolbox {
  display: inline-flex;
  visibility: hidden;
  padding: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 2;
  transform: translate(-50%, 0);
  gap: .35em;
  cursor: pointer;

  li {
    list-style-type: none;
  }

  &.show-tools {
    visibility: visible;
  }

  button {

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 2.5em;
    width: 2.8em;
    height: 2.8em;
    border: 1px solid #111;

    &.tool-brush {
      background-image: url('../images/camera/drawingTools/brush.svg');
    }

    &.tool-palette {
      background-image: url('../images/camera/drawingTools/palette.svg');
    }

    &.tool-undo {
      background-image: url('../images/camera/drawingTools/undo.svg');

    }

    &.tool-redo {
      background-image: url('../images/camera/drawingTools/redo.svg');

    }

    &.tool-init {
      background-image: url('../images/camera/drawingTools/restart.svg');

    }

    &.tool-save {
      background-image: url('../images/camera/drawingTools/save.svg');
    }
  }
}

/* ******************** */
/* Modal for toolbox */
/* ****************** */
.toolbox-modal {
  position: relative;
  display: inline-block;
}

.toolbox-modal .toolbox-modal-content {
  width: 8rem;
  min-height: 3rem;
  background-color: var(--pico-primary-background);
  color: #fff;
  text-align: center;
  border-radius: .375em;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -3.9em;
  padding: .2em;

    label {
      font-size: 1rem;
    } 
}

/* arrow bottom */
.toolbox-modal .toolbox-modal-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--pico-primary-background) transparent transparent transparent;
}

/* ******************************* */
/* Snackbar for user action infos */
/* ***************************** */
#snackbar {
  visibility: hidden;
  width: inherit;
  background-color: var(--pico-primary-background);
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  opacity: 0.9;
  height: 2.5em;
  padding: 0.5em;

  p {
    color: white;
    font-size: 1.2em;
  }

  &.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;

    @-webkit-keyframes fadein {
      from { bottom: 0; opacity: 0; } 
      to { bottom: 30px; opacity: 1; }
    }
    
    @keyframes fadein {
      from { bottom: 0; opacity: 0; }
      to { bottom: 30px; opacity: 1; }
    }
    
    @-webkit-keyframes fadeout {
      from { bottom: 30px; opacity: 1; } 
      to { bottom: 0; opacity: 0; }
    }
    
    @keyframes fadeout {
      from { bottom: 30px; opacity: 1; }
      to { bottom: 0; opacity: 0; }
    }
  }
}
